.m2
target/
*.DS_Store
# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln

### STS ###
.apt_generated
.classpath
.externalToolBuilders
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# H2 db
migration.*.db
