################################################################################
# Copyright (C) 2021 by the ARA Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# 	 http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
################################################################################

management:
  metrics:
    web:
      server:
        request:
          autotime:
            enabled: true
    export:
      influx:
        enabled: false
        db: changeme
        user-name: changeme
        password: changeme
        uri: http://localhost:8086
        step: 15s
        auto-create-db: false

  endpoints:
    web:
      exposure:
        include: health,info,metrics,threaddump

  endpoint:
    health:
      probes:
        ## Auto configured in kubernetes env
        enabled: true


# Your authentication configuration example
# To configure authentication, you need to:
# 1. Create a file named config-authentication.yaml, in the same folder as this file
# 2. Copy the content below into config-authentication.yaml.example
# 3. Replace the example values to match your configuration (check the documentation to see how)

#Note: if you want to disable your authentication, disable all providers (by setting enable to false)

# Authentication
authentication:
    ## JWT
    jwt-token:
        access-token-expiration-in-second: 3600
        token-secret: your-token-secret
        using-https: false
    provider:
        ## OAuth2 providers
        custom:
            displayed-name: Company Name
            enabled: true
            login-uri: the_custom_token_uri
            token:
                body-values: your_token_body_attribute1,your_token_body_value1|your_token_body_attribute2,your_token_body_value2|your_code_attribute,{{code}}
                fields:
                    access: your_token_access_field
                    expiration: your_token_expiration_field
                    id: your_token_id_field
                    refresh: your_token_refresh_field
                    scope: your_token_scope_field
                    type: your_token_type_field
                header-values: your_token_header_attribute1,your_token_header_value1|your_token_header_attribute2,your_token_header_value2
                method: POST
                uri: your_custom_token_uri
            token-validation:
                body-values: authorization_attribute,{{token_value}}|your_token-validation_body_attribute1,your_token-validation_body_value1|your_token-validation_body_attribute2,your_token-validation_body_value2
                header-values: your_token-validation_header_attribute1,your_token-validation_header_value1 {{token_value}}|your_token-validation_header_attribute2,your_token-validation_header_value2
                method: POST
                uri: your_custom_token_validation_uri
                validation-field:
                    expected-value: the_token_validation_expected_value
                    expiration-timestamp: expiration-date
                    name: the_token_validation_field
                    remaining-time: expire-in
            user:
                body-values: your_custom_user_body_attribute1,your_custom_user_body_value1|your_custom_user_body_attribute2,your_custom_user_body_value2
                fields:
                    email: your_user_email_field
                    id: your_user_id_field
                    login: your_user_login_field
                    name: your_user_name_field
                    picture-url: your_user_picture-url_field
                header-values: a_user_header_attribute,a_user_header_value|a_user_header_attribute_with_variables,{{token_type}} {{token_value}}
                method: POST
                uri: your_custom_user_uri
        github:
            client-id: your_github_client_id
            client-secret: your_github_client_secret
            enabled: true
        google:
            client-id: your_google_client_id
            client-secret: your_google_client_secret
            enabled: true
