################################################################################
# Copyright (C) 2020 by the ARA Contributors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# 	 http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
################################################################################

# Your authentication configuration example
# To configure authentication, you need to:
# 1. Create a file named application-auth.properties, in the same folder as this file
# 2. Copy the content below into application-auth.properties
# 3. Replace the example values to match your configuration (check the documentation to see how)

# Authentication
# OAuth2
authentication.enabled=false

# Github
authentication.provider.github.enabled=true
authentication.provider.github.client-id=your_github_client_id
authentication.provider.github.client-secret=your_github_client_secret

# Google
authentication.provider.google.enabled=true
authentication.provider.google.client-id=your_google_client_id
authentication.provider.google.client-secret=your_google_client_secret

# Custom
authentication.provider.custom.enabled=true
authentication.provider.custom.displayed-name=Company Name
authentication.provider.custom.login-uri=the_custom_token_uri

authentication.provider.custom.token.uri=your_custom_token_uri
authentication.provider.custom.token.method=POST
authentication.provider.custom.token.header-values=your_token_header_attribute1,your_token_header_value1|your_token_header_attribute2,your_token_header_value2
authentication.provider.custom.token.body-values=your_token_body_attribute1,your_token_body_value1|your_token_body_attribute2,your_token_body_value2|your_code_attribute,{{code}}

authentication.provider.custom.token.fields.id=your_token_id_field
authentication.provider.custom.token.fields.access=your_token_access_field
authentication.provider.custom.token.fields.refresh=your_token_refresh_field
authentication.provider.custom.token.fields.expiration=your_token_expiration_field
authentication.provider.custom.token.fields.type=your_token_type_field
authentication.provider.custom.token.fields.scope=your_token_scope_field

authentication.provider.custom.user.uri=your_custom_user_uri
authentication.provider.custom.user.method=POST
authentication.provider.custom.user.header-values=a_user_header_attribute,a_user_header_value|a_user_header_attribute_with_variables,{{token_type}} {{token_value}}
authentication.provider.custom.user.body-values=your_custom_user_body_attribute1,your_custom_user_body_value1|your_custom_user_body_attribute2,your_custom_user_body_value2

authentication.provider.custom.user.fields.id=your_user_id_field
authentication.provider.custom.user.fields.name=your_user_name_field
authentication.provider.custom.user.fields.login=your_user_login_field
authentication.provider.custom.user.fields.email=your_user_email_field
authentication.provider.custom.user.fields.picture-url=your_user_picture-url_field

authentication.provider.custom.token-validation.uri=your_custom_token_validation_uri
authentication.provider.custom.token-validation.method=POST
authentication.provider.custom.token-validation.header-values=your_token-validation_header_attribute1,your_token-validation_header_value1 {{token_value}}|your_token-validation_header_attribute2,your_token-validation_header_value2
authentication.provider.custom.token-validation.body-values=authorization_attribute,{{token_value}}|your_token-validation_body_attribute1,your_token-validation_body_value1|your_token-validation_body_attribute2,your_token-validation_body_value2
authentication.provider.custom.token-validation.validation-field.name=the_token_validation_field
authentication.provider.custom.token-validation.validation-field.expected-value=the_token_validation_expected_value
authentication.provider.custom.token-validation.validation-field.remaining-time=expire-in
authentication.provider.custom.token-validation.validation-field.expiration-timestamp=expiration-date

# JWT
authentication.jwt-token.using-https=false
authentication.jwt-token.token-secret=your-token-secret
authentication.jwt-token.access-token-expiration-in-second=3600