name: Lint and Test Charts

on:
  pull_request:
    branches:
      - main

jobs:
  chart_change:
    # continue-on-error: true # Uncomment once integration is finished
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v3.4.1
        with:
          paths: '["charts/**"]'
          cancel_others: 'true'
  lint-chart:
    runs-on: ubuntu-latest
    needs: chart_change
    if: ${{ needs.chart_change.outputs.should_skip != 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.4.0
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1
      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch main)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi
      - name: Run chart-testing (lint)
        run: ct lint --check-version-increment=false --target-branch main 
  lint-docs:
    runs-on: ubuntu-latest
    if: ${{ needs.chart_change.outputs.should_skip != 'true' }}
    needs: lint-chart
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run helm-docs
        run: .github/helm-docs.sh
  kubeval-chart:
    runs-on: ubuntu-latest
    if: ${{ needs.chart_change.outputs.should_skip != 'true' }}
    needs:
      - lint-chart
      - lint-docs
    strategy:
      matrix:
        k8s:
          - v1.17.16
          - v1.18.14
          - v1.19.6
          - v1.20.1
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.4.0
      - name: Helm template
        run: |
          mkdir helm-templates-candidate helm-templates-stable
          helm template charts/stable --output-dir helm-templates-stable
          helm template charts/candidate --output-dir helm-templates-candidate
      - name: validate manifests
        uses: makocchi-git/actions-k8s-manifests-validate-kubeval@v1.0.1
        with:
          files: helm-templates-candidate,helm-templates-stable
          openshift: true
          comment: true
          token: ${{ secrets.ACCESS_TOKEN }}
          version: ${{ matrix.k8s }}
